body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    background-color: #fff;
    padding: 40px 0;
}

.header-container .profile {
    flex: 1 1 300px;
    max-width: 300px;
    text-align: center;
}

.header-container .about-me {
    flex: 2 1 600px;
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.profile h1 {
    margin: 10px 0 5px;
    color: #000;
}

.profile p {
    margin: 5px 0;
}

.social-links {
    margin-top: 10px;
}

.social-links a {
    color: #333;
    margin-right: 10px;
    text-decoration: none;
    font-size: 24px;
}

.social-links a:hover {
    color: #333;
}

main {
    padding: 40px 0;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

h1, h2 {
    color: #333;
}

.experience-item, .project-item {
    margin-bottom: 20px;
    text-align: justify;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        text-align: center;
    }

    .header-container .profile,
    .header-container .about-me {
        flex: 1 1 100%;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }
}
